div{
    font-size:16px;
    color:teal;
}
.btn{
    padding: 5px 15px;
    color:teal;
    font-size:14px;
    background: transparent;
    border: 1px solid teal;
    cursor: pointer;
    margin-right: 5px;
}
.inpt{
    color:teal;
    font-size:14px;
    background: transparent;
    border: 1px solid teal;
}
.inpt::placeholder{
    color:teal;
    font-size:14px;
}
